@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Courier New", Courier, monospace;
}

/* @font-face {
  font-family: "RobotoMonoRegular";
  src: url("/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMonoMedium";
  src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
} */

html {
  /* background-color: #008080; */
}

body {
}

.background-default {
  background: #008080;
}

.background-ashpika {
  background-image: url("/backgrounds/ashpika.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100vh;
}

.background-robocop {
  background-image: url("/backgrounds/robocop.jpeg");
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100vh;
}

.background-dbz1 {
  background-image: url("/backgrounds/dbz1.png");
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100vh;
}

.background-pepe1 {
  background-image: url("/backgrounds/pepe1.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100vh;
}

.background-pepe2 {
  background-image: url("https://raw.githubusercontent.com/cherrydub/chriscoding/main/public/backgrounds/pepe2.png");
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100vh;
}

.background-pepe3 {
  background-image: url("/backgrounds/pepe3.jpg");
  background-repeat: repeat;
  background-position: right;
  background-size: auto 100vh;
}

.background-tron {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cf2836cb-5893-4a6c-b156-5a89d94fc721/dce61tw-3cfde162-fb53-4b5a-96cd-ae1df756df65.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NmMjgzNmNiLTU4OTMtNGE2Yy1iMTU2LTVhODlkOTRmYzcyMVwvZGNlNjF0dy0zY2ZkZTE2Mi1mYjUzLTRiNWEtOTZjZC1hZTFkZjc1NmRmNjUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.vEwtplf1FBeP01zGIPa3zIMEz7mUudddreie2iCbe9Q");
  background-position: center;
  background-size: auto 100vh;
}

.background-nyan {
  background-image: url("https://duet-cdn.vox-cdn.com/thumbor/0x0:1400x1400/828x552/filters:focal(700x700:701x701):no_upscale():format(webp)/cdn.vox-cdn.com/uploads/chorus_asset/file/22310826/poptart1redrainbowfix_1.gif");
  background-position: center;
  background-size: auto 100vh;
}

.background-future {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12cbe8a4-f55c-4b40-85bb-d8e1405e7b84/debee0l-eca2c69e-8c11-421b-905e-29841ab8bbf7.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyY2JlOGE0LWY1NWMtNGI0MC04NWJiLWQ4ZTE0MDVlN2I4NFwvZGViZWUwbC1lY2EyYzY5ZS04YzExLTQyMWItOTA1ZS0yOTg0MWFiOGJiZjcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bLss-D_4-kWiv5xyurUsivfJHkl5ukWbqaUpjMD-PyQ");
  background-position: center;
  background-size: auto 100vh;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

/* Left Desktop Nav */
.navigation-desktop {
  font-size: 10px;
  text-align: left;
}

/* Bottomn Desktop Bar stuff */
.start-bar {
  padding: 1px;
  /* margin-bottom: 5px; */
  box-shadow: inset 1px 0 #fff;
  /* display: block; */
  background-color: silver;
  max-height: 118px;
  /* max-height: 28px; */

  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #4e4e4e;
  position: fixed;
  z-index: 99999;
}

.start-button-wrapper {
  margin-left: 2px;
  /* margin-bottom: 2px; */
  /* vertical-align: middle; */
  /* display: inline-block; */
  padding: 2px 6px 3px;
  background-color: silver;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  min-width: 42px;
  margin-right: px;
  color: #000;
}

.start-bar-time,
.start-bar-window {
  vertical-align: middle;
  height: 18px;
  line-height: 18px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  font-family: Arial;
  font-weight: 400;
  color: #000;
  font-size: 9px;
  padding-left: 4px;
  padding-right: 4px;
}

.start-bar-tabs {
  /* vertical-align: middle; */
  height: 18px;
  line-height: 18px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  font-family: Arial;
  font-weight: 400;
  color: #000;
  font-size: 9px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 100px;
}

.start-bar-tabs-active {
  /* vertical-align: middle; */
  height: 18px;
  line-height: 18px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  font-family: Arial;
  font-weight: 400;
  color: #000;
  font-size: 9px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 100px;
}

.start-bar-tabs-inactive {
  /* vertical-align: middle; */
  height: 18px;
  line-height: 18px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  font-family: "Arial";
  font-weight: 400;
  color: #000;
  font-size: 9px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 100px;
}

pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 8px;
}

.pre-extra {
  font-size: 10px;
}

/* .bottom-start-bar {
  background-color: rgb(192, 192, 192);
  border: 1px solid;
  border-color: rgb(233, 233, 233) rgb(233, 233, 233) rgb(255, 255, 255)
    rgb(233, 233, 233);
} */
.text-shadow-black {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
